<link rel="apple-touch-icon" sizes="180x180" href="/webroot/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/webroot/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/webroot/favicon-16x16.png">
<link rel="manifest" href="/webroot/site.webmanifest">
<link rel="mask-icon" href="/webroot/safari-pinned-tab.svg" color="#3d4780">
<link rel="shortcut icon" href="/webroot/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Jamison Bryant">
<meta name="application-name" content="Jamison Bryant">
<meta name="msapplication-TileColor" content="#3d4780">
<meta name="msapplication-config" content="/webroot/browserconfig.xml">
<meta name="theme-color" content="#ffffff">