.btn.linkedin {
    color: white;
    background-color: #0073b1;
    border-color: #0073b1;
}

.btn.gitlab {
    color: white;
    background-color: #292961;
    border-color: #292961;
}

.btn.twitter {
    color: white;
    background-color: #4ab3f4;
    border-color: #4ab3f4;
}

.btn.stack-overflow {
    color: white;
    background-color: #f48024;
    border-color: #f48024;
}

.btn.codepen {
    color: white;
    background-color: #212225;
    border-color: #212225;
}
