/*
 * Base structure
 */

body {
    padding-top: 50px;
}

/*
 * Navbar
 */

nav .masthead-text {
    margin-top: 0.5rem;
}

nav .masthead-text a {
    color: white;
    font-weight: 600 !important;
    text-decoration: none !important;
}

nav img.emblem {
    height: 2em;
    width: 2em;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    color: #333;
    border-radius: 0;
    font-size: 1em;
    padding: 0.7em;
}

.sidebar .nav-pills > li > a:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.sidebar .nav-pills > li > a.active {
    background-color: #777;
    border-left: 5px solid #FFE900;
}

.sidebar .nav-item svg.feather {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.2em;
}

/*
 * Buttons
 */

.btn-huge {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-sm svg.feather {
    height: 1.2em;
    width: 1.2em;
    margin: 0 0.1em 0.1em 0;
}
