/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.links a:hover {
    color: yellow;
    border: 1px solid yellow;
}

/* Base structure */
html,
body {
    background: #403c7e;
    background: linear-gradient(0deg, #403c7e 0, #394894 33%, #3c488a 100%);
    background-repeat: no-repeat;
    min-height: 100%;
    height: auto;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 80em;
}

/* Header */
header {
    margin-bottom: 2rem;
}

header .masthead-text {
    margin-top: 0.5rem;
}

header .masthead-text a {
    color: white;
    font-weight: 600 !important;
    text-decoration: none !important;
}

header img.emblem {
    height: 2em;
    width: 2em;
}

header .navbar-nav .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .2rem solid transparent;
    text-shadow: 0 2px 1px #555;
}

header .navbar-nav .nav-link.active {
    color: yellow;
    border-bottom-color: yellow;
}

header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
    text-shadow: 0 2px 1px #555;
}

header .navbar-nav .nav-link + .nav-link {
    margin-left: 0.5rem;
}

header .navbar-nav .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (max-width: 50em) {
    header nav {
        text-align: center;
    }

    header nav a {
        line-height: 2rem;
    }
}

/* Cover */
.cover {
    padding: 0 1.5rem;
}

/* Colors */
.text-yellow {
    color: yellow;
}

/* Footer */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

@media (max-width: 50em) {
    footer .inner {
        margin-top: 2rem;
    }
}
