/* Global */
.container {
    max-width: 56em;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Header */
header {
    background: #403c7e;
    background: linear-gradient(0deg, #403c7e 0, #394894 33%, #3c488a 100%);
}

header .masthead-text {
    margin-top: 0.5rem;
}

header .masthead-text a {
    color: white;
    font-weight: 600 !important;
    text-decoration: none !important;
}

header img.emblem {
    height: 2em;
    width: 2em;
}

header .navbar-nav .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .2rem solid transparent;
    text-shadow: 0 2px 1px #555;
}

header .navbar-nav .nav-link.active {
    color: yellow;
    border-bottom-color: yellow;
}

header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
    text-shadow: 0 2px 1px #555;
}

header .navbar-nav .nav-link + .nav-link {
    margin-left: 0.5rem;
}

header .navbar-nav .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (max-width: 50em) {
    header nav {
        text-align: center;
    }

    header nav a {
        line-height: 2rem;
    }
}

/* Main content */
main h1, main p.lead {
    text-align: center;
}

.btn.btn-accent {
    background-color: #6a7199;
    border-color: #6a7199;
}

pre.prettyprint {
    padding: 1em !important;
}

/* Footer */
footer a {
    color: inherit;
}

footer img.emblem {
    height: 3em;
    width: 3em;
}

footer .link-list a {
    line-height: 1.7em;
}

@media (max-width: 50em) {
    footer p {
        text-align: center;
    }

    footer .link-list a {
        font-size: 80%;
        font-weight: 400;
    }
}
